<app-navbar
  [user]="user"
  [sitioActual]="sitioActual"
  [sidebarCollapsed]="collapsed"
  [showSidebarToggle]="true"
  (collapsedChange)="collapsed = $event"
  class="navbar-app-selector">
</app-navbar>

<div class="module-shell" [class.sidebar-collapsed]="collapsed">
  <app-sidebar
    [menu]="menu"
    [collapsed]="collapsed"
    [tituloModulo]="'Sueldos'"
    (collapsedChange)="collapsed = $event"
  ></app-sidebar>

  <main class="module-content">
    <router-outlet></router-outlet>
  </main>
</div>

<app-floating-quick-access></app-floating-quick-access>